<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="headerWrapper">
    <div id="headerDiv">
        <h1>There has been an error...please contact support!</h1>
    </div>
</div>
<table id="welcomeTable">
    <tr>
        <td id="logoutCell"><a href="/index" class="btn mainbtn">Home</a></td>
    </tr>
</table>

</body>
</html>